@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
    max-width: 800px;
}
input, button {
    border-radius: 0.25rem;
}
button {
    transition: background-color 0.2s;
}
button:hover {
    opacity: 0.9;
}